body {
  padding: 0;
  margin: 0;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 26px;
  color: #000000;
  text-transform: uppercase;
  background-color: #ffffff;
}

a {
  text-decoration: none;
}

.main-navigation {
  position: relative;
}

.main-header-logo img {
  position: absolute;
  top: 0;
  left: calc(50% - 69px);
  width: 138px;
  height: 70px;
  z-index: 1;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 0;
  box-shadow: 0px 5px 15px 0px rgba(0, 1, 1, 0.2);
}

.site-navigation {
  display: flex;
  padding: 0;
  margin: 0;
  font-weight: bold;
  list-style: none;
}

.site-navigation li {
  width: 130px;
  padding-top: 17px;
  padding-bottom: 17px;
}

.site-navigation li:first-child {
  margin-left: 70px;
  margin-right: 110px;
}

.site-navigation li:nth-child(2) {
  margin-right: auto;
}

.site-navigation li:nth-child(3) {
  margin-left: auto;
  text-align: right;
}

.site-navigation li:last-child {
  margin-right: 70px;
  margin-left: 110px;
  text-align: right;
}


.site-navigation a {
  color: #000000;
}

.site-navigation a:hover {
  color: #81b3d2;
}

.site-navigation a:active {
  color: rgba(0, 0, 0, 0.3);
}

a.selected, a.selected:hover,
a.selected:active {
  color: #766357;
}

.welcom {
  position: relative;
  width: 1200px;
  height: 508px;
  background-color: #87accb;
  background-image: url("../img/decor.png"), url("../img/background-photo.jpg");
  background-repeat: no-repeat no-repeat;
  background-position: bottom, 0 22.5%;
  margin-bottom: 60px;
}

.welcom img {
  position: absolute;
  top: 75px;
  left: calc(50% - 229px);
}

.lead {
  width: 575px;
  margin-left: auto;
  margin-right: auto;
  font-size: 21px;
  font-weight: bold;
  text-align: center;
}

.reasons-list p {
  text-align: center;
  color: #333333;
}

.reason-container {
  display: flex;
  color: #ffffff;
  background-color: #81b3d2;
  background-image: url("../img/reason.jpg");
  background-repeat: repeat;
}

.features + .reason-container {
  flex-direction: row-reverse;
}

.reason {
  text-align: center;
  }

.reason-container h3,
.features-list h3,
.reason-continuation h3 {
  text-align: center;
  font-size: 21px;
  font-weight: bold;
  line-height: 21px;
  }

.reason-container span,
.reason-continuation span {
  line-height: 21px;
  }

.reason-container p {
  line-height: 21px;
  color: #ffffff;
}

.background-reason-one {
  width: 800px;
  height: 256px;
  background-color: #81b3d2;
  background-image: url("../img/background-reason-1.jpg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.background-reason-two {
  width: 800px;
  height: 256px;
  background-color: #81b3d2;
  background-image: url("../img/background-reason-2.jpg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.features {
margin-bottom: 80px;
}

.features-list {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style: none;
}

.features-list p {
  line-height: 21px;
  color: #333333;
}

.feature-item {
  width: 400px;
  padding-top: 100px;
  text-align: center;
  background-color: #ffffff;
  background-repeat: no-repeat;
}

.feature-item:first-child {
  background-image: url("../img/house.svg");
  background-position: top center;
}

.feature-item:nth-child(2) {
  background-image: url("../img/food.svg");
  background-position: top center;
}

.feature-item:last-child {
  background-image: url("../img/souvenirs.svg");
  background-position: top center;
}

.reason-continuation-container {
  display: flex;
}

.reason-continuation {
  width: 400px;
  padding: 50px 65px;  /* ориентировочно*/
  background-color: #eeeeee;
  text-align: center;
}

.reason-continuation p {
  line-height: 21px;
}

.search {
  text-align: center;
}

.search span {
  font-size: 30px;
  font-weight: bold;
  line-height: 36px;
}

.search p {
  line-height: 24px;
}

.button {
  font-size: 21px;
  font-weight: bold;
  line-height: 26px;
  text-align: center;
  vertical-align: middle;
  color: #ffffff;
}

.button-search-hotels {
  background-color: #766357;
}

.button-search-hotels:hover {
  background-color: #604e43;
}

.button-search-hotels:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #503e33;
}

.search-item label {
  font-weight: bold;
}

.search-item input {
  line-height: 26px;
  font-weight: bold;
  text-transform: uppercase;
  background-color: rgba(242, 242, 242, 0.3);
}

.search-item input:hover {
  background-color: rgba(235, 235, 235, 0.3);
}

.search-item input:focus {
  background-color: rgba(255, 255, 255, 0.3);
  border: 2px solid rgba(229, 229, 229, 0.3);
}

.button-form-search-hotels {
  background-color: #81b3d2;
}

.button-form-search-hotels:hover {
  background-color: #669ec0;
}

.button-form-search-hotels:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #5496bd;
}

.map img {
  width: 1200px;
  height: 475px;
}

.main-footer {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
}

.visit-link {
  font-size: 21px;
  font-weight: bold;
  line-height: 26px;
  color: #000000;
  padding-left: 110px;
}

.footer-social {
  width: 400px;
  text-align: center;
}

.footer-social ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.social-btn {
  color: #000000;
}

.footer-copyright {
  width: 240px;
}

.filter-form-hotels {
  display: flex;
  padding: 40px 70px;
  color: #ffffff;
  background-color: #324249;
  background-image: url("../img/background-hotels.jpg");
  background-repeat: no-repeat;
  background-position: bottom;
  /*временная позиция фона */
}

.filter-form-hotels ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.filter-form-hotels fieldset {
  border: none;
}

.filter-form-hotels legend {
  font-weight: bold;
}

.filter-input {
  line-height: 21px;
}

.infrastructure {
  width: 240px;
}

.type-of-housing {
  width: 290px;
}

.price-info {
  margin-left: auto;
}

.button-form-search-hotels {
  font-size: 14px;
  font-weight: normal;
  line-height: 21px;
  background-color: transparent;
  border: 2px solid #ffffff;
}

.button-form-search-hotels:hover {
  color: #000000;
  background-color: #ffffff;
}

.search-result-sort {
  display: flex;
  align-items: center;
  padding: 30px 70px;
  border-bottom: 1px solid #e5e5e5;
}

.sort-title {
  margin-left: 40px;
  font-size: 12px;
  line-height: 18px;
  font-weight: normal;
}

.search-result-sort h3,
.search-result-sort span {
  font-size: 21px;
}

.search-result-sort ul {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-left: 40px;
  font-size: 12px;
  line-height: 18px;
}

.sort a {
  color: rgba(0, 0, 0, 0.3);
  border-bottom: 2px dotted #81b3d2;
}

.sort a:hover {
  color: #81b3d2;
}

.sort a:active {
  color: #000000;
  border: none;
}

a.active, a.active:hover {
  color: #81b3d2;
  border: none;
}

.sort-button-up {
  margin-left: auto;
  outline: 2px solid red;
  width: 15px;
  height: 15px;
}

.sort-button-down {
  outline: 2px solid red;
  width: 15px;
  height: 15px;
}

.result-hotels-container {
  display: flex;
  flex-direction: column;
  padding: 30px 70px;
}

.hotel-item {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #e5e5e5;
}

.hotel-item a {
  margin-right: 30px;
}

.hotel-item h3 {
  font-size: 21px;
  font-weight: bold;
  line-height: 26px;
  color: #000000;
}

.hotel-item h3:hover {
  color: #81b3d2;
}

.hotel-item h3:active {
  color: rgba(0, 0, 0, 0.3);
}

.hotel-info {
  margin: 0px;
}

.hotel-info p {
  font-size: 14px;
  line-height: 21px;
}

a.button {
  font-size: 14px;
  line-height: 21px;
  font-weight: bold;
}

.more-info-button {
  background-color: #81b3d2;
}

.more-info-button:hover {
  background-color: #669ec0;
}

.more-info-button:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #5496bd;
}

.book-button {
  background-color: #766357;
}

.book-button:hover {
  background-color: #604e43;
}

.book-button:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #503e33;
}

.top-hotel {
  margin-left: auto;
}

.top-hotel-info {
  background-color: #f2f2f2;
}
